*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
node_modules/
dist/
build/
.env
.env.*
!.env.example
*.log
coverage/
.npminstall
.output
temp/
.umi
.umi-production
__tests__/
*.test.*
*.spec.*
src/components/shared/